<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Try On</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}">
</head>

<body>
    <nav class="navbar"></nav>
    <script src="{{ url_for('static', filename='js/nav.js')}}"></script>
    <!-- hero section -->
    <header class="hero-section">
        <div class="content">
            <img src="{{ url_for('static', filename='images/light-logo.png')}}" class="logo" alt="">
            <p class="sub-heading">best fashion collection of all time</p>
        </div>
    </header>
    <script src="{{ url_for('static', filename='js/home.js')}}"></script>
    <!--
    <section class="product">
        <h2 class="product-category">best selling</h2>

        <button class="pre-btn"><img src="{{ url_for('static', filename='images/arrow.png')}}" alt=""></button>
        <button class="nxt-btn"><img src="{{ url_for('static', filename='images/arrow.png')}}" alt=""></button>

        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{{ url_for('static', filename='images/card1.png')}}" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{{ url_for('static', filename='images/card2.png')}}" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{{ url_for('static', filename='images/card3.png')}}" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{{ url_for('static', filename='images/card4.png')}}" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{{ url_for('static', filename='images/card5.png')}}" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{{ url_for('static', filename='images/card6.png')}}" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{{ url_for('static', filename='images/card7.png')}}" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="{{ url_for('static', filename='images/card8.png')}}" class="product-thumb" alt="">
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">brand</h2>
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">$20</span><span class="actual-price">$40</span>
                </div>
            </div>
        </div>
    </section>
    -->
    <br>

    <!-- collections -->
    <section class="collection-container">
        <a href="/women" class="collection">
            <img src="{{ url_for('static', filename='images/women10.jpg')}}" alt="">
            <p class="collection-title">women <br> apparels</p>
        </a>
        <a id="#men" href="/men1" class="collection">
            <img src="{{ url_for('static', filename='images/men10.jpg')}}" alt="">
            <p class="collection-title">men <br> apparels</p>
        </a>
    </section>
    <br>

    <footer class="footer-distributed u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7ba5">
        <div class="u-clearfix u-sheet u-sheet-1">

            <div class="footer-left">

                <h3>Company<span>logo</span></h3>

                <p class="footer-links">
                    <a href="home" class="link-1">Home</a>
                    <a href="men1">Men</a>
                    <a href="women">Women</a>
                    <a href="guidelines">Guidelines</a>
                    <a href="contact">Contact</a>
                </p>

                <p class="footer-company-name">Company Name © 2023</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Pillai College of Engineering</span> New Panvel, India</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>+91 3457405967</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@company.com">support@company.com</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>About the company</span>
                    We provide a platform to try clothes virtually for women.
                </p>

                <div class="footer-icons">

                    <a href="#"><i class="fa fa-facebook"><img
                                src="{{ url_for('static', filename='images/facebook_logo.png')}}" height="30px"
                                width="30px"></i></a>
                    <a href="#"><i class="fa fa-twitter"><img
                                src="{{ url_for('static', filename='images/twitter_logo.png')}}" height="30px"
                                width="30px"></i></a>
                    <a href="#"><i class="fa fa-linkedin"><img
                                src="{{ url_for('static', filename='images/linkedin_logo.png')}}" height="30px"
                                width="30px"></i></a>
                    <a href="#"><i class="fa fa-instagram"><img
                                src="{{ url_for('static', filename='images/instagram_logo.png')}}" height="30px"
                                width="30px"></i></a>
                    <a href="#"><i class="fa fa-github"><img
                                src="{{ url_for('static', filename='images/github_logo.png')}}" height="30px"
                                width="30px"></i></a>

                </div>

            </div>
        </div>
    </footer>
</body>

</html>